{% extends 'base.html.twig' %}
{% block title%}Contacto{% endblock %}
{% block body %}
    <div class="menu-bar">
        {{ include ('page/partials/navigator.html.twig') }}
    </div>
    <div class="body-content">
        <header id="headerImg">
            <img src="img/frutiger-aero.png" alt="titulo">
            <img src="img/welcomeFA.png" alt="welcomeFA">
        </header>
        <div id="contenido-contacto">
            <form action="{{ path('thankyou') }}" id="formularioContacto">
                <h1>¡Contactanos!</h1>
                <p>
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name">
                </p>
                <p>
                    <label for="email">E-mail</label>
                    <input type="text" name="name" id="email">
                </p>
                <p>
                    <label for="mensaje">Mensaje</label>
                    <textarea name="name" id="mensaje"></textarea>
                </p>
                <p>
                    <input type="submit" value="Enviar">
                </p>
            </form>
        </div>
    </div>
{% endblock %}