{% extends 'base.html.twig' %}
{% block body %}
    <div class="menu-bar">
        {{ include ('page/partials/navigator.html.twig') }}
    </div>
    <div class="body-content">
        <header id="headerImg">
            <img src="img/frutiger-aero.png" alt="titulo">
            <img src="img/welcomeFA.png" alt="welcomeFA">
        </header>
        <div id="contenido-login">
            <h1>Inicia tu sesión</h1>
            <p>Si tus datos son incorrectos, asegúrate de que ya te has registrado.</p>
            <p>Dale a <i>"Registrarse"</i> para crearte una cuenta</p>

            <form action="{{ path('app_login') }}" method="post">
                <p>
                    <label for="username">Email/Correo Electrónico:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}"/>
                </p>
                <p>
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="_password"/>
                </p>

                {# If you want to control the URL the user is redirected to on success
                <input type="hidden" name="_target_path" value="/account"/> #}
                <p>
                    <button type="submit">login</button>
                </p>
                {% if error %}
                    <div style="border-radius: 8px; padding-top: 2px; background-color: rgb(212,162,162)"><p style="color: darkred">{{ error.messageKey|trans(error.messageData, 'security') }}</p></div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}

